*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    header{
        width: 100%;
        justify-content:center;
        align-items: center;
        text-align: center;
        .navbar{
            padding-top: 20px;
            border: 0.3px solid black;
            .nav-item{
                margin: auto;
                .nav-link{
                    min-width: 20px;
                    margin-left: 5px;
                    border-radius: 10px;
                    text-align: center;
                    &:hover{
                        background-color:lightblue;
                        opacity: 0.7;
                    }
                } 
            }
          
        }
    }
    main{
        margin-top: 20px;
        #story{
            border: 0.2px solid black;
            border-radius: 20px;
            box-shadow: 10px 10px 10px 10px;
            text-align: center;
            margin: 10px 0 10px 0;
        }
        #partenaires{
            width: 100%;
            justify-content: center;
           
            h2{
                text-align: center;
                margin: 30px 0 0 30px;
              
            }
            .carousel-fade{
                justify-content: center;
                width: 300px;
                margin: auto;
                border-radius: 10px;
                .carousel-inner{
                    text-align: center;
                }
            }
            .temoin{
                text-align: center;
                p{
                    justify-content: center;
                }
            }
        }
    }
    footer{
        .liste{
            list-style: none;
            display: flex;
            li{
                margin: auto;
                a{
                    margin: 0 20px 0 20px;
                  
                }
            }
        }
    }
}